@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Pretendard;
}

a {
  display: block;
  text-decoration: none;
  color: #777777;
}
a:hover {
  color: #231f20;
}

h1 {
  font-size: 5rem;
  font-weight: 900;
}

h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2.8rem;
  font-weight: 900;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
}

h4 {
  font-size: 1rem;
  font-weight: 200;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
  line-height: 1.5rem;
}

img {
  width: 100%;
  display: block;
}

ul, li {
  list-style: none;
  list-style-position: inside;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  background-color: #f2ece4;
  transition: background-color 1s;
}
body::-webkit-scrollbar {
  width: 17px;
}
body::-webkit-scrollbar-corner {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  height: 30%;
  background: #f4b322;
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body div.dotted-border {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23777777FF' stroke-width='1' stroke-dasharray='100%2c 2%2c 30%2c 2%2c 1%2c 2' stroke-dashoffset='70' stroke-linecap='butt'/%3e%3c/svg%3e");
  z-index: -1;
}
body header {
  position: fixed;
  width: calc(100% - 40px);
  height: 60px;
  margin: 20px;
  border: 1px solid #777777;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  body header {
    height: 80px;
    padding: 10px 30px;
  }
}
@media screen and (min-width: 1320px) {
  body header {
    width: calc(100% - 250px);
    height: 100px;
    margin: 20px 125px;
  }
}
body header h1 {
  display: none;
  position: fixed;
  top: -11px;
  left: 10px;
  height: 60px;
  letter-spacing: -0.2rem;
  color: transparent;
  -webkit-text-stroke: 1px #777777;
}
@media screen and (min-width: 768px) {
  body header h1 {
    display: block;
    -webkit-animation-name: none;
            animation-name: none;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @-webkit-keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
@media screen and (min-width: 1320px) {
  body header h1 {
    font-size: 6.3rem;
  }
}
body header div#nav {
  display: none;
  height: 100%;
}
@media screen and (min-width: 768px) {
  body header div#nav {
    display: block;
  }
}
body header div#nav nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
body header div#nav nav ul.gnb {
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1320px) {
  body header div#nav nav ul.gnb {
    width: 40%;
  }
}
body header div#nav nav ul.gnb li a {
  opacity: 0.4;
  transition: all 0.4s ease;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #2f2e2d;
  transition: color 1s;
}
body header div#nav nav ul.gnb li a:hover {
  opacity: 0.7;
}
body header div#nav nav ul.gnb li a.active {
  opacity: 1;
}
@media screen and (min-width: 1320px) {
  body header div#nav nav ul.gnb li a {
    font-size: 1rem;
  }
}
body header div#nav nav .line {
  position: absolute;
  bottom: 25px;
  height: 2px;
  background: #f4b322;
  transition: 0.5s;
}
@media screen and (min-width: 1320px) {
  body header div#nav nav .line {
    bottom: 35px;
  }
}
@media screen and (min-width: 768px) {
  body header div.nav-mobile {
    display: none;
  }
}
body header div.nav-mobile nav.gnb-mobile {
  width: 100%;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}
body header div.nav-mobile nav.gnb-mobile button.nav-btn {
  height: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: flex-grow 1s ease;
  color: #777777;
  font-family: Pretendard;
  font-size: 0.8rem;
}
body header div.nav-mobile nav.gnb-mobile button.nav-btn.active {
  flex-grow: 2.5;
  color: #2f2e2d;
  transition: color 1s;
}
body header div.nav-mobile nav.gnb-mobile button.nav-btn.active span.nav-num {
  -webkit-animation: blank 0.3s forwards;
          animation: blank 0.3s forwards;
}
@-webkit-keyframes blank {
  to {
    opacity: 0;
  }
}
@keyframes blank {
  to {
    opacity: 0;
  }
}
body header div.nav-mobile nav.gnb-mobile button.nav-btn span.nav-num {
  transition: transform 1s ease;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
body header div.nav-mobile nav.gnb-mobile button.nav-btn strong.nav-title {
  position: absolute;
  font-size: 1rem;
  transform: translate3d(0, 110%, 0);
  transition: transform 0.2166666667s;
}
body header div.nav-mobile nav.gnb-mobile button.nav-btn strong.nav-title.active {
  transform: translate3d(0, 0, 0);
  transition: transform 0.4333333333s;
}
body main div.bg-space {
  z-index: -2;
  position: fixed;
  width: 90vh;
  height: 90vh;
  top: 50%;
  transform: translate(-50%, -50%);
}
body main div.bg-space#circleRight {
  left: 100%;
  transition: opacity 1s;
}
body main div.bg-space#circleRight svg .line, body main div.bg-space#circleRight svg .gradient {
  fill: none;
}
body main div.bg-space#circleRight svg .line, body main div.bg-space#circleRight svg .colored {
  stroke: #f4b322;
}
body main div.bg-space#circleRight svg .dot, body main div.bg-space#circleRight svg .dotted, body main div.bg-space#circleRight svg .triangle {
  stroke-linecap: round;
}
body main div.bg-space#circleRight svg .dot, body main div.bg-space#circleRight svg .circle, body main div.bg-space#circleRight svg .halo, body main div.bg-space#circleRight svg .star, body main div.bg-space#circleRight svg .colored, body main div.bg-space#circleRight svg .gradient {
  stroke-miterlimit: 10;
}
body main div.bg-space#circleRight svg .dot, body main div.bg-space#circleRight svg .dotted {
  stroke-width: 5px;
}
body main div.bg-space#circleRight svg .dot {
  stroke-dasharray: 0 29.97;
}
body main div.bg-space#circleRight svg .dotted, body main div.bg-space#circleRight svg .triangle {
  stroke-linejoin: round;
}
body main div.bg-space#circleRight svg .path1 {
  fill: url(#linear-gradient-right1);
}
body main div.bg-space#circleRight svg .circle1 {
  stroke-width: 0.2px;
  stroke: url(#linear-gradient-right2);
}
body main div.bg-space#circleRight svg .path2 {
  fill: url(#linear-gradient-right2);
}
body main div.bg-space#circleRight svg .circle2 {
  stroke-width: 0.4px;
  stroke: url(#linear-gradient-right3);
}
body main div.bg-space#circleRight svg .path3 {
  fill: url(#linear-gradient-right3);
}
body main div.bg-space#circleRight svg .circle3 {
  stroke-width: 0.6px;
  stroke: url(#linear-gradient-right4);
}
body main div.bg-space#circleRight svg .path4 {
  fill: url(#linear-gradient-right4);
}
body main div.bg-space#circleRight svg .circle4 {
  stroke-width: 0.8px;
  stroke: url(#linear-gradient-right5);
}
body main div.bg-space#circleRight svg .path5 {
  fill: url(#linear-gradient-right5);
}
body main div.bg-space#circleRight svg .circle5 {
  stroke: url(#linear-gradient-right6);
}
body main div.bg-space#circleRight svg .colored {
  fill: #f2ece4;
}
body main div.bg-space#circleRight svg .dotted {
  stroke-dasharray: 0 20.25;
}
body main div.bg-space#circleRight svg g {
  -webkit-animation-duration: 180s;
          animation-duration: 180s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}
body main div.bg-space#circleRight svg g#element-right {
  -webkit-animation-name: rotate-circleRight2;
          animation-name: rotate-circleRight2;
}
@-webkit-keyframes rotate-circleRight2 {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotate-circleRight2 {
  to {
    transform: rotate(-360deg);
  }
}
body main div.bg-space#circleRight svg g#center-right {
  -webkit-animation-name: rotate-circleRight1;
          animation-name: rotate-circleRight1;
}
@-webkit-keyframes rotate-circleRight1 {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-circleRight1 {
  to {
    transform: rotate(360deg);
  }
}
body main div.bg-space#circleLeft {
  opacity: 0;
  transition: opacity 1s;
}
body main div.bg-space#circleLeft svg .line {
  fill: none;
}
body main div.bg-space#circleLeft svg .line, body main div.bg-space#circleLeft svg .colored {
  stroke: #f4b322;
}
body main div.bg-space#circleLeft svg .circle, body main div.bg-space#circleLeft svg .halo, body main div.bg-space#circleLeft svg .star, body main div.bg-space#circleLeft svg .colored {
  stroke-miterlimit: 10;
}
body main div.bg-space#circleLeft svg .planet {
  fill: #f4b322;
}
body main div.bg-space#circleLeft svg .comet {
  fill-rule: evenodd;
}
body main div.bg-space#circleLeft svg .comet1 {
  fill: url(#linear-gradient-left1);
}
body main div.bg-space#circleLeft svg .comet2 {
  fill: url(#linear-gradient-left2);
}
body main div.bg-space#circleLeft svg .colored {
  fill: #2f2e2d;
}
body main div.bg-space#circleLeft svg .dotted {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 5px;
  stroke-dasharray: 0 20.25;
}
body main div.bg-space#circleLeft svg g {
  -webkit-animation-duration: 180s;
          animation-duration: 180s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}
body main div.bg-space#circleLeft svg g#element-left {
  -webkit-animation-name: rotate-circleLeft2;
          animation-name: rotate-circleLeft2;
}
@-webkit-keyframes rotate-circleLeft2 {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotate-circleLeft2 {
  to {
    transform: rotate(-360deg);
  }
}
body main div.bg-space#circleLeft svg g#center-left {
  -webkit-animation-name: rotate-circleLeft1;
          animation-name: rotate-circleLeft1;
}
@-webkit-keyframes rotate-circleLeft1 {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-circleLeft1 {
  to {
    transform: rotate(360deg);
  }
}
body main section#about, body main section#skills, body main section#projects, body main section#contact {
  padding-top: 100px;
}
@media screen and (min-width: 768px) {
  body main section#about, body main section#skills, body main section#projects, body main section#contact {
    padding-top: 180px;
  }
}
body main section#about div.sticky-title, body main section#skills div.sticky-title, body main section#projects div.sticky-title, body main section#contact div.sticky-title {
  height: 60px;
  padding: 0 5%;
  top: 100px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  body main section#about div.sticky-title, body main section#skills div.sticky-title, body main section#projects div.sticky-title, body main section#contact div.sticky-title {
    position: -webkit-sticky;
    position: sticky;
    width: 435px;
    height: 80px;
    top: 20px;
    padding-left: 35px;
    padding-right: 0;
  }
}
@media screen and (min-width: 1320px) {
  body main section#about div.sticky-title, body main section#skills div.sticky-title, body main section#projects div.sticky-title, body main section#contact div.sticky-title {
    width: 765px;
    height: 100px;
    padding-left: 140px;
  }
}
body main section#about div.sticky-title h2.title-num, body main section#skills div.sticky-title h2.title-num, body main section#projects div.sticky-title h2.title-num, body main section#contact div.sticky-title h2.title-num {
  letter-spacing: -0.1rem;
  line-height: 50px;
  text-align: left;
  color: #2f2e2d;
  transition: color 1s;
}
@media screen and (min-width: 768px) {
  body main section#about div.sticky-title h2.title-num, body main section#skills div.sticky-title h2.title-num, body main section#projects div.sticky-title h2.title-num, body main section#contact div.sticky-title h2.title-num {
    letter-spacing: -0.3rem;
    line-height: 70px;
    font-size: 4rem;
  }
}
@media screen and (min-width: 1320px) {
  body main section#about div.sticky-title h2.title-num, body main section#skills div.sticky-title h2.title-num, body main section#projects div.sticky-title h2.title-num, body main section#contact div.sticky-title h2.title-num {
    line-height: 90px;
    font-size: 6rem;
  }
}
body main section#about div.sticky-title h2.title-num span.title, body main section#skills div.sticky-title h2.title-num span.title, body main section#projects div.sticky-title h2.title-num span.title, body main section#contact div.sticky-title h2.title-num span.title {
  font-family: Pretendard;
  font-size: 2.9rem;
  color: transparent;
  -webkit-text-stroke: 2px #2f2e2d;
  transition: -webkit-text-stroke-color 1s;
}
@media screen and (min-width: 768px) {
  body main section#about div.sticky-title h2.title-num span.title, body main section#skills div.sticky-title h2.title-num span.title, body main section#projects div.sticky-title h2.title-num span.title, body main section#contact div.sticky-title h2.title-num span.title {
    font-size: 4.2rem;
  }
}
@media screen and (min-width: 1320px) {
  body main section#about div.sticky-title h2.title-num span.title, body main section#skills div.sticky-title h2.title-num span.title, body main section#projects div.sticky-title h2.title-num span.title, body main section#contact div.sticky-title h2.title-num span.title {
    font-size: 6.3rem;
  }
}
body main section#about div.contents, body main section#skills div.contents, body main section#projects div.contents, body main section#contact div.contents {
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  padding-top: 50px;
}
@media screen and (min-width: 768px) {
  body main section#about div.contents, body main section#skills div.contents, body main section#projects div.contents, body main section#contact div.contents {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1320px) {
  body main section#about div.contents, body main section#skills div.contents, body main section#projects div.contents, body main section#contact div.contents {
    max-width: 1640px;
    padding: 0 140px;
  }
}
@media screen and (min-width: 768px) {
  body main section#about div.contents, body main section#skills div.contents, body main section#projects div.contents, body main section#contact div.contents {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1320px) {
  body main section#about div.contents, body main section#skills div.contents, body main section#projects div.contents, body main section#contact div.contents {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
body main section#about h3 {
  word-break: keep-all;
  color: #2f2e2d;
}
@media screen and (min-width: 768px) {
  body main section#about h3 {
    font-size: 2.2rem;
  }
}
body main section#about p {
  word-break: keep-all;
  color: #2f2e2d;
}
@media screen and (min-width: 768px) {
  body main section#about p {
    margin-top: 0;
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
body main section#about span.highlight {
  font-weight: 600;
  -webkit-text-decoration: underline #f4b322 5px;
          text-decoration: underline #f4b322 5px;
  text-underline-offset: -3px;
}
body main section#skills div.skills-flexbox {
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
@media screen and (min-width: 768px) {
  body main section#skills div.skills-flexbox {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1320px) {
  body main section#skills div.skills-flexbox {
    max-width: 1640px;
    padding: 0 140px;
  }
}
@media screen and (min-width: 768px) {
  body main section#skills div.skills-flexbox {
    padding-top: 100px;
  }
}
@media screen and (min-width: 1320px) {
  body main section#skills div.skills-flexbox {
    padding-top: 200px;
  }
}
body main section#skills div.skills-flexbox div.skill {
  width: 50%;
}
@media screen and (min-width: 768px) {
  body main section#skills div.skills-flexbox div.skill {
    width: 33.3333333333%;
  }
}
@media screen and (min-width: 1320px) {
  body main section#skills div.skills-flexbox div.skill {
    width: 20%;
  }
}
body main section#skills div.skills-flexbox div.skill div.img-box {
  position: relative;
}
body main section#skills div.skills-flexbox div.skill div.img-box div.skill-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body main section#skills div.skills-flexbox div.skill div.img-box svg {
  transform: rotate(-90deg);
}
body main section#skills div.skills-flexbox div.skill div.img-box svg circle {
  fill: none;
  stroke: #fcfbfa;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  stroke-dasharray: 471;
  stroke-dashoffset: 471;
  stroke-linecap: round;
  filter: drop-shadow(3px 3px 5px rgba(47, 46, 45, 0.1));
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body main section#skills div.skills-flexbox div.skill div.img-box svg circle.html5 {
  -webkit-animation-name: circle-html5;
          animation-name: circle-html5;
}
@-webkit-keyframes circle-html5 {
  to {
    stroke-dashoffset: 23.55;
  }
}
@keyframes circle-html5 {
  to {
    stroke-dashoffset: 23.55;
  }
}
body main section#skills div.skills-flexbox div.skill div.img-box svg circle.css3 {
  -webkit-animation-name: circle-css3;
          animation-name: circle-css3;
}
@-webkit-keyframes circle-css3 {
  to {
    stroke-dashoffset: 23.55;
  }
}
@keyframes circle-css3 {
  to {
    stroke-dashoffset: 23.55;
  }
}
body main section#skills div.skills-flexbox div.skill div.img-box svg circle.javascript {
  -webkit-animation-name: circle-javascript;
          animation-name: circle-javascript;
}
@-webkit-keyframes circle-javascript {
  to {
    stroke-dashoffset: 47.1;
  }
}
@keyframes circle-javascript {
  to {
    stroke-dashoffset: 47.1;
  }
}
body main section#skills div.skills-flexbox div.skill div.img-box svg circle.sass {
  -webkit-animation-name: circle-sass;
          animation-name: circle-sass;
}
@-webkit-keyframes circle-sass {
  to {
    stroke-dashoffset: 47.1;
  }
}
@keyframes circle-sass {
  to {
    stroke-dashoffset: 47.1;
  }
}
body main section#skills div.skills-flexbox div.skill div.img-box svg circle.react {
  -webkit-animation-name: circle-react;
          animation-name: circle-react;
}
@-webkit-keyframes circle-react {
  to {
    stroke-dashoffset: 70.65;
  }
}
@keyframes circle-react {
  to {
    stroke-dashoffset: 70.65;
  }
}
body main section#skills div.skills-flexbox div.skill div.img-box svg circle.mysql {
  -webkit-animation-name: circle-mysql;
          animation-name: circle-mysql;
}
@-webkit-keyframes circle-mysql {
  to {
    stroke-dashoffset: 117.75;
  }
}
@keyframes circle-mysql {
  to {
    stroke-dashoffset: 117.75;
  }
}
body main section#skills div.skills-flexbox div.skill div.img-box svg circle.git {
  -webkit-animation-name: circle-git;
          animation-name: circle-git;
}
@-webkit-keyframes circle-git {
  to {
    stroke-dashoffset: 141.3;
  }
}
@keyframes circle-git {
  to {
    stroke-dashoffset: 141.3;
  }
}
body main section#skills div.skills-flexbox div.skill div.img-box svg circle.c {
  -webkit-animation-name: circle-c;
          animation-name: circle-c;
}
@-webkit-keyframes circle-c {
  to {
    stroke-dashoffset: 141.3;
  }
}
@keyframes circle-c {
  to {
    stroke-dashoffset: 141.3;
  }
}
body main section#skills div.skills-flexbox div.skill div.img-box svg circle.java {
  -webkit-animation-name: circle-java;
          animation-name: circle-java;
}
@-webkit-keyframes circle-java {
  to {
    stroke-dashoffset: 164.85;
  }
}
@keyframes circle-java {
  to {
    stroke-dashoffset: 164.85;
  }
}
body main section#skills div.skills-flexbox div.skill div.img-box svg circle.php {
  -webkit-animation-name: circle-php;
          animation-name: circle-php;
}
@-webkit-keyframes circle-php {
  to {
    stroke-dashoffset: 188.4;
  }
}
@keyframes circle-php {
  to {
    stroke-dashoffset: 188.4;
  }
}
body main section#skills div.skills-flexbox div.skill h3 {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 300;
  color: #2f2e2d;
}
@media screen and (min-width: 768px) {
  body main section#skills div.skills-flexbox div.skill h3 {
    font-size: 2rem;
  }
}
body main section#projects {
  padding-top: 100px;
}
@media screen and (min-width: 768px) {
  body main section#projects {
    padding-top: 180px;
  }
}
body main section#projects div.projects-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 0px;
}
@media screen and (min-width: 1320px) {
  body main section#projects div.projects-flexbox {
    padding-top: 50px;
  }
}
body main section#projects div.projects-flexbox div.projects {
  width: 100%;
}
@media screen and (min-width: 768px) {
  body main section#projects div.projects-flexbox div.projects {
    width: 70%;
  }
}
@media screen and (min-width: 1320px) {
  body main section#projects div.projects-flexbox div.projects {
    width: 75%;
  }
}
body main section#projects div.projects-flexbox div.projects div.project {
  padding-top: 80px;
}
@media screen and (min-width: 768px) {
  body main section#projects div.projects-flexbox div.projects div.project {
    padding-top: 120px;
  }
}
@media screen and (min-width: 1320px) {
  body main section#projects div.projects-flexbox div.projects div.project {
    padding-top: 150px;
  }
}
body main section#projects div.projects-flexbox div.projects div.project div.preview {
  width: 100%;
  position: relative;
}
body main section#projects div.projects-flexbox div.projects div.project div.preview div.view-project {
  width: 25%;
  max-width: 170px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body main section#projects div.projects-flexbox div.projects div.project div.preview div.view-project button {
  position: relative;
  width: calc((100% - 10px) / 2);
  max-width: 80px;
  border: none;
  background-color: #f2ece4;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.3), 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 25%;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  body main section#projects div.projects-flexbox div.projects div.project div.preview div.view-project button:hover span.tooltip {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
body main section#projects div.projects-flexbox div.projects div.project div.preview div.view-project button:active {
  box-shadow: inset -2px -2px 5px rgb(255, 255, 255), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}
body main section#projects div.projects-flexbox div.projects div.project div.preview div.view-project button img {
  transform: scale(0.7);
}
body main section#projects div.projects-flexbox div.projects div.project div.preview div.view-project button span.tooltip {
  width: 110px;
  position: absolute;
  top: 130%;
  left: 50%;
  margin-left: -55px;
  padding: 5px 0;
  border-radius: 5px;
  background-color: #f2ece4;
  color: #2f2e2d;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transform: translate3d(0, -10px, 0);
  transition: all 0.15s ease-in-out;
  font-family: Pretendard;
  font-size: 1rem;
  font-weight: 600;
}
body main section#projects div.projects-flexbox div.projects div.project div.preview div.view-project button span.tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: transparent transparent #f2ece4 transparent;
  border-style: solid;
  border-width: 5px;
}
body main section#projects div.projects-flexbox div.projects div.project div.modal {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 100%;
  left: 0;
  background-color: rgba(252, 251, 250, 0.8);
  text-align: left;
  overflow: auto;
  z-index: 2;
  transition: all 0.6s ease-in-out;
}
@media screen and (min-width: 1320px) {
  body main section#projects div.projects-flexbox div.projects div.project div.modal::-webkit-scrollbar {
    width: 17px;
  }
  body main section#projects div.projects-flexbox div.projects div.project div.modal::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  body main section#projects div.projects-flexbox div.projects div.project div.modal::-webkit-scrollbar-thumb {
    height: 30%;
    background: #f4b322;
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 10px;
  }
  body main section#projects div.projects-flexbox div.projects div.project div.modal::-webkit-scrollbar-track {
    background: #2f2e2d;
  }
}
body main section#projects div.projects-flexbox div.projects div.project div.modal.show {
  top: 0;
}
body main section#projects div.projects-flexbox div.projects div.project div.modal div.modal-header {
  position: relative;
}
body main section#projects div.projects-flexbox div.projects div.project div.modal div.modal-header button.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #f2ece4;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
body main section#projects div.projects-flexbox div.projects div.project div.modal div.modal-header button.close-btn i.fa-circle {
  filter: drop-shadow(3px 3px 5px rgba(35, 31, 32, 0.1));
}
body main section#projects div.projects-flexbox div.projects div.project div.modal div.modal-header button.close-btn i.fa-xmark {
  color: #2f2e2d;
}
@media screen and (min-width: 768px) {
  body main section#projects div.projects-flexbox div.projects div.project div.modal div.modal-header button.close-btn {
    top: 30px;
    right: 30px;
    font-size: 1.4rem;
  }
}
body main section#projects div.projects-flexbox div.projects div.project div.modal div.modal-header button.close-btn:hover {
  color: #2f2e2d;
}
body main section#projects div.projects-flexbox div.projects div.project div.modal div.modal-header button.close-btn:hover i.fa-xmark {
  color: #f2ece4;
}
body main section#projects div.projects-flexbox div.projects div.project div.modal div.design-guide {
  max-width: 1320px;
  margin: 0 auto;
}
body main section#projects div.projects-flexbox div.projects div.project div.modal div.modal-footer {
  position: relative;
}
body main section#projects div.projects-flexbox div.projects div.project div.modal div.modal-footer button.top-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #f2ece4;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
body main section#projects div.projects-flexbox div.projects div.project div.modal div.modal-footer button.top-btn i.fa-circle {
  filter: drop-shadow(3px 3px 5px rgba(35, 31, 32, 0.1));
}
body main section#projects div.projects-flexbox div.projects div.project div.modal div.modal-footer button.top-btn i.fa-angle-double-up {
  color: #2f2e2d;
}
@media screen and (min-width: 768px) {
  body main section#projects div.projects-flexbox div.projects div.project div.modal div.modal-footer button.top-btn {
    bottom: 30px;
    right: 30px;
    font-size: 1.4rem;
  }
}
body main section#projects div.projects-flexbox div.projects div.project div.modal div.modal-footer button.top-btn:hover {
  color: #2f2e2d;
}
body main section#projects div.projects-flexbox div.projects div.project div.modal div.modal-footer button.top-btn:hover i.fa-angle-double-up {
  color: #f2ece4;
}
body main section#projects div.projects-flexbox div.projects div.project h3 {
  margin: 20px 0;
  color: #f2ece4;
}
@media screen and (min-width: 768px) {
  body main section#projects div.projects-flexbox div.projects div.project h3 {
    font-size: 2.2rem;
  }
}
body main section#projects div.projects-flexbox div.projects div.project p {
  font-weight: 300;
  font-size: 1.1rem;
  color: #f2ece4;
  word-break: keep-all;
}
body main section#projects div.projects-flexbox div.projects div.project p.subtext {
  font-weight: 100;
}
@media screen and (min-width: 768px) {
  body main section#projects div.projects-flexbox div.projects div.project p.subtext {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}
@media screen and (min-width: 768px) {
  body main section#projects div.projects-flexbox div.projects div.project p {
    font-size: 1.3rem;
  }
}
body main section#projects div.projects-flexbox aside {
  display: none;
  width: 25%;
  height: 565px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
@media screen and (min-width: 768px) {
  body main section#projects div.projects-flexbox aside {
    display: block;
  }
}
@media screen and (min-width: 1320px) {
  body main section#projects div.projects-flexbox aside {
    width: 20%;
    height: 615px;
  }
}
body main section#projects div.projects-flexbox aside ul.projects-nav {
  padding-top: 100px;
}
@media screen and (min-width: 1320px) {
  body main section#projects div.projects-flexbox aside ul.projects-nav {
    padding-top: 150px;
  }
}
body main section#projects div.projects-flexbox aside ul.projects-nav li.nav-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 0;
}
body main section#projects div.projects-flexbox aside ul.projects-nav li.nav-flexbox:last-child {
  padding-bottom: 0;
}
body main section#projects div.projects-flexbox aside ul.projects-nav li.nav-flexbox button.navBtn {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  display: flex;
  border: 1px solid #f2ece4;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 1320px) {
  body main section#projects div.projects-flexbox aside ul.projects-nav li.nav-flexbox button.navBtn {
    margin-right: 20px;
  }
}
body main section#projects div.projects-flexbox aside ul.projects-nav li.nav-flexbox button.navBtn::before {
  content: "";
  width: 15px;
  height: 15px;
  margin: auto;
  border: none;
  border-radius: 50%;
  background-color: #f2ece4;
  filter: blur(3px);
  opacity: 0;
  transition: opacity 0.5s;
}
body main section#projects div.projects-flexbox aside ul.projects-nav li.nav-flexbox button.navBtn.active::before {
  opacity: 1;
}
body main section#projects div.projects-flexbox aside ul.projects-nav li.nav-flexbox button.navBtn:hover::before {
  opacity: 1;
}
body main section#projects div.projects-flexbox aside ul.projects-nav li.nav-flexbox h4 {
  color: #f2ece4;
}
body main section#contact div.contents {
  padding-bottom: 100px;
}
@media screen and (min-width: 768px) {
  body main section#contact div.contents {
    padding-bottom: 200px;
  }
}
body main section#contact div.contents form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  body main section#contact div.contents form {
    width: 688px;
  }
}
@media screen and (min-width: 1320px) {
  body main section#contact div.contents form {
    width: 700px;
  }
}
body main section#contact div.contents form div.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body main section#contact div.contents form div.info input {
  width: 47%;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #f2ece4;
  color: #f2ece4;
  font-family: Pretendard;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  body main section#contact div.contents form div.info input {
    width: 330px;
  }
}
body main section#contact div.contents form div.message {
  width: 100%;
}
body main section#contact div.contents form div.message textarea {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: transparent;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border: 1px solid #f2ece4;
  color: #f2ece4;
  resize: none;
  font-family: Pretendard;
  font-size: 1rem;
}
body main section#contact div.contents form button {
  position: relative;
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid #f2ece4;
  color: #f2ece4;
  text-align: center;
  align-self: flex-end;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-family: Pretendard;
  font-size: 1rem;
}
body main section#contact div.contents form button:hover {
  background-color: #f2ece4;
  color: #2f2e2d;
}
body main section#contact div.contents form button:disabled {
  cursor: not-allowed;
}
body main section#contact div.contents form button:disabled:hover, body main section#contact div.contents form button:disabled:active, body main section#contact div.contents form button:disabled:focus {
  background-color: transparent;
  color: #f2ece4;
}
body main section#contact div.contents form button:disabled:hover span.tooltip, body main section#contact div.contents form button:disabled:active span.tooltip, body main section#contact div.contents form button:disabled:focus span.tooltip {
  display: block;
}
body main section#contact div.contents form button span.tooltip {
  display: none;
  width: 160px;
  position: absolute;
  top: 12%;
  right: 120%;
  margin-left: -80px;
  padding: 5px 0;
  border-radius: 5px;
  background-color: #f2ece4;
  color: #2f2e2d;
  text-align: center;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  body main section#contact div.contents form button span.tooltip {
    top: 150%;
    left: 50%;
  }
}
body main section#contact div.contents form button span.tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-color: transparent transparent transparent #f2ece4;
  border-style: solid;
  border-width: 5px;
}
@media screen and (min-width: 768px) {
  body main section#contact div.contents form button span.tooltip::after {
    bottom: 100%;
    left: 50%;
    margin-top: -20%;
    margin-left: -5px;
    border-color: transparent transparent #f2ece4 transparent;
  }
}
body main section#contact div.contents form div.status-modal {
  width: 330px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  display: none;
  text-align: center;
  background-color: #fcfbfa;
  border-radius: 4px;
  box-shadow: 0 3px 15px -1px rgba(35, 31, 32, 0.4);
  z-index: 3;
}
@media screen and (min-width: 768px) {
  body main section#contact div.contents form div.status-modal {
    width: 380px;
    height: 230px;
  }
}
body main section#contact div.contents form div.status-modal.active {
  display: block;
  -webkit-animation: appear 0.8s ease-in-out;
          animation: appear 0.8s ease-in-out;
}
@-webkit-keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
body main section#contact div.contents form div.status-modal h3 {
  margin: 20px 0;
  letter-spacing: 1px;
  opacity: 0.3;
  font-size: 1.5rem;
  font-weight: 600;
}
body main section#contact div.contents form div.status-modal h3 i {
  margin-left: 2px;
}
@media screen and (min-width: 768px) {
  body main section#contact div.contents form div.status-modal h3 {
    margin: 25px 0;
    font-size: 1.8rem;
  }
}
body main section#contact div.contents form div.status-modal div.try-again, body main section#contact div.contents form div.status-modal div.okay {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  color: #fcfbfa;
  text-align: center;
  line-height: 60px;
  font-size: 1.3rem;
  cursor: pointer;
}
body main section#contact div.contents form div.status-modal div.try-again {
  background-color: #e74c3c;
}
body main section#contact div.contents form div.status-modal div.try-again:hover {
  background-color: #ed4f3e;
}
body main section#contact div.contents form div.status-modal div.okay {
  background-color: #2ecc71;
}
body main section#contact div.contents form div.status-modal div.okay:hover {
  background-color: #30d275;
}
body footer {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #231f20;
}
@media screen and (min-width: 768px) {
  body footer {
    flex-direction: row;
    padding: 10px 30px;
  }
  body footer div.logo {
    width: 20vw;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  body footer div.logo svg {
    width: 130px;
    height: 40px;
    stroke: #f2ece4;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }
  body footer div.logo svg circle {
    fill: none;
  }
}
body footer p {
  margin: 0;
  color: #f2ece4;
}
@media screen and (min-width: 768px) {
  body footer p {
    font-size: 1.1rem;
  }
}
body footer div.icons-flexbox {
  width: 205px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  body footer div.icons-flexbox {
    width: 20vw;
    justify-content: flex-end;
  }
}
body footer div.icons-flexbox button {
  width: 35px;
  height: 35px;
  margin: 20px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  body footer div.icons-flexbox button {
    margin: 10px;
  }
}
body footer div.icons-flexbox button svg {
  width: 100%;
}
body footer div.icons-flexbox button svg path.footer-btn {
  fill: transparent;
  stroke: #f2ece4;
  stroke-width: 15;
  stroke-miterlimit: 10;
  transition: all 0.5s ease-in-out;
}
body footer div.icons-flexbox button:hover path.footer-btn {
  fill: #f2ece4;
  stroke: transparent;
}/*# sourceMappingURL=main.css.map */