@mixin responsive($break) {
    @if $break == mobile-size {
        @media screen and (min-width: $break-mobile) {
            @content;
        }
    }
    
    @else if $break == tablet-size {
        @media screen and (min-width: $break-tablet) {
            @content;
        }
    }
    
    @else if $break == pc-size {
        @media screen and (min-width: $break-pc) {
            @content;
        }
    }
}

@mixin dotted-border() {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23777777FF' stroke-width='1' stroke-dasharray='100%2c 2%2c 30%2c 2%2c 1%2c 2' stroke-dashoffset='70' stroke-linecap='butt'/%3e%3c/svg%3e");
    z-index: -1;
}

@mixin wrapper() {
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;
    

    @include responsive(pc-size) {
        max-width: $break-pc;
        padding: 0;
    }
}