@import "./_style.scss";
@import "./_common.scss";
@import "./_mixin.scss";

$percent-html5: 95;
$percent-css3: 95;
$percent-javascript: 90;
$percent-sass: 90;
$percent-react: 85;
$percent-mysql: 75;
$percent-git: 70;
$percent-c: 70;
$percent-java: 65;
$percent-php: 60;

$circle-length: 471;

@function strokeDashoffset($num) {
	@return calc($circle-length - ($circle-length * $num) / 100);
}

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    background-color: $color-main;
    transition: background-color 1s;

    // scrollbar style
    &::-webkit-scrollbar { // 스크롤바 전체 영역
        width: 17px; // 스크롤바의 너비
    }

    &::-webkit-scrollbar-corner { // 상하+좌우 스크롤이 만나는 공간
        background-color: transparent;
    }
    
    &::-webkit-scrollbar-thumb { // 스크롤 영역
        height: 30%; // 스크롤바의 길이
        background: $color-yellow; // 스크롤바의 색상
        background-clip: padding-box;
        border: 3px solid transparent;
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-track { // 스크롤이 움직이는 바 영역
        background: transparent; // 스크롤바 뒷배경 색상
    }

    div.dotted-border {
        @include dotted-border();
    }

    // header
    header {
        position: fixed;
        width: calc(100% - 40px);
        height: 60px;
        margin: 20px;
        border: 1px solid $color-grey;
        backdrop-filter: blur(3px);
        z-index: 1;
        
        @include responsive(tablet-size) {
            height: 80px;
            padding: 10px 30px;
        }
        
        @include responsive(pc-size) {
            width: calc(100% - 250px);
            height: 100px;
            margin: 20px 125px;
        }

        h1 {
            display: none;
            position: fixed;
            top: -11px;
            left: 10px;
            height: 60px;
            letter-spacing: -0.2rem;
            color: transparent;
            -webkit-text-stroke: 1px $color-grey;

            @include responsive(tablet-size) {
                display: block;
                animation-name: none;
                animation-duration: 1.5s;
                animation-fill-mode: forwards;

                @keyframes fade-out {
                    from {
                        opacity: 1;
                    }

                    to {
                        opacity: 0;
                    }
                }

                @keyframes fade-in {
                    from {
                        opacity: 0;
                    }

                    to {
                        opacity: 1;
                    }
                }
            }

            @include responsive(pc-size) {
                font-size: 6.3rem;
            }
        }

        // header > nav
        div#nav {
            display: none;
            height: 100%;
            
            @include responsive(tablet-size) {
                display: block;
            }
            
            nav {
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;

                ul.gnb {
                    width: 55%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    @include responsive(pc-size) {
                        width: 40%;
                    }

                    li {
                        a {
                            opacity: .4;
                            transition: all 0.4s ease;
    
                            &:hover {
                                opacity: .7;
                            }
    
                            &.active {
                                opacity: 1;
                            }
                            font: {
                                size: 0.9rem;
                                weight: 600;
                            }
                            
                            text-transform: uppercase;
                            color: $color-intro;
                            transition: color 1s;

                            @include responsive(pc-size) {
                                font-size: 1rem;
                            }
                        }
                    }
                } // gnb

                .line {
                    position: absolute;
                    bottom: 25px;
                    height: 2px;
                    background: $color-yellow;
                    transition: 0.5s;

                    @include responsive(pc-size) {
                        bottom: 35px;
                    }
                }
            } // gnb-pc
        } // nav

        // header > nav-mobile
        div.nav-mobile {
            @include responsive(tablet-size) {
                display: none;
            }

            nav.gnb-mobile {
                width: 100%;
                height: 60px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                -webkit-tap-highlight-color: transparent;

                button.nav-btn {
                    height: 20px;
                    position: relative;
                    overflow: hidden;
                    display: flex;
                    flex-grow: 1;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                    transition: flex-grow 1s ease;
                    color: $color-grey;
                
                    font: {
                        family: $font-sans;
                        size: 0.8rem;
                    }
                
                    &.active {
                        flex-grow: 2.5;
                        color: $color-intro;
                        transition: color 1s;
                                      
                        & span.nav-num {
                            animation: blank 0.3s forwards;

                            @keyframes blank {
                                to {
                                    opacity: 0;
                                }
                            }
                        }
                    } // nav-btn active
                
                    span.nav-num {
                        transition: transform 1s ease;

                        font: {
                            family: $font-noto;
                            size: 1rem;
                            weight: 600;
                        }
                    } // nav-num
                
                    strong.nav-title {
                        position: absolute;
                        font-size: 1rem;
                        transform: translate3d(0, 110%, 0);
                        transition: transform calc(.65s / 3);
                    
                        &.active {
                            transform: translate3d(0, 0, 0);
                            transition: transform calc(.65s / 1.5);
                        }
                    } // nav-title
                } // nav-btn
            } // gnb-mobile
        } // nav-mobile
    }
    
    // main
    main {
        div.bg-space {
            z-index: -2;
            position: fixed;
            width: 90vh;
            height: 90vh;
            top: 50%;
            transform: translate(-50%, -50%);
            
            &#circleRight {
                left: 100%;
                transition: opacity 1s;

                svg {
                    .line, .gradient {
                        fill: none;
                    }

                    .line, .colored {
                        stroke: $color-yellow;
                    }

                    .dot, .dotted, .triangle {
                        stroke-linecap: round;
                    }

                    .dot, .circle, .halo, .star, .colored, .gradient {
                        stroke-miterlimit: 10;
                    }
                    .dot, .dotted {
                        stroke-width: 5px;
                    }

                    .dot {
                        stroke-dasharray: 0 29.97;
                    }

                    .dotted, .triangle {
                        stroke-linejoin: round;
                    }

                    .path1 {
                        fill: url(#linear-gradient-right1);
                    }

                    .circle1 {
                        stroke-width: 0.2px;
                        stroke: url(#linear-gradient-right2);
                    }

                    .path2 {
                        fill: url(#linear-gradient-right2);
                    }

                    .circle2 {
                        stroke-width: 0.4px;
                        stroke: url(#linear-gradient-right3);
                    }

                    .path3 {
                        fill: url(#linear-gradient-right3);
                    }

                    .circle3 {
                        stroke-width: 0.6px;
                        stroke: url(#linear-gradient-right4);
                    }

                    .path4 {
                        fill: url(#linear-gradient-right4);
                    }

                    .circle4 {
                        stroke-width: 0.8px;
                        stroke: url(#linear-gradient-right5);
                    }
                    
                    .path5 {
                        fill: url(#linear-gradient-right5);
                    }

                    .circle5 {
                        stroke: url(#linear-gradient-right6);
                    }

                    .colored {
                        fill: $color-main;
                    }
                    
                    .dotted {
                        stroke-dasharray: 0 20.25;
                    }

                    g {
                        animation-duration: 180s;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
                        transform-origin: 50% 50%;
                        
                        &#element-right {
                            animation-name: rotate-circleRight2;
                            
                            @keyframes rotate-circleRight2 {
                                to {
                                    transform: rotate(-360deg);
                                }
                            }
                        }

                        &#center-right {
                            animation-name: rotate-circleRight1;
            
                            @keyframes rotate-circleRight1 {
                                to {
                                    transform: rotate(360deg);
                                }
                            }
                        }
                    }
                } // svg
            } // circleRight

            &#circleLeft {
                opacity: 0;
                transition: opacity 1s;

                svg {
                    .line {
                        fill: none;
                    }

                    .line, .colored {
                        stroke: $color-yellow;
                    }

                    .circle, .halo, .star, .colored {
                        stroke-miterlimit: 10;
                    }

                    .planet {
                        fill: $color-yellow;
                    }

                    .comet {
                        fill-rule: evenodd;
                    }

                    .comet1 {
                        fill: url(#linear-gradient-left1);
                    }

                    .comet2 {
                        fill: url(#linear-gradient-left2);
                    }

                    .colored {
                        fill: $color-intro;
                    }

                    .dotted {
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        stroke-width: 5px;
                        stroke-dasharray: 0 20.25;
                    }

                    g {
                        animation-duration: 180s;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
                        transform-origin: 50% 50%;
                        
                        &#element-left {
                            animation-name: rotate-circleLeft2;
                            
                            @keyframes rotate-circleLeft2 {
                                to {
                                    transform: rotate(-360deg);
                                }
                            }
                        }

                        &#center-left {
                            animation-name: rotate-circleLeft1;
            
                            @keyframes rotate-circleLeft1 {
                                to {
                                    transform: rotate(360deg);
                                }
                            }
                        }
                    } // g
                } // svg
            } // circleLeft
        } // bg-space

        section#about, section#skills, section#projects, section#contact {
            padding-top: 100px;

            @include responsive(tablet-size) {
                padding-top: 180px;
            }

            div.sticky-title {
                height: 60px;
                padding: 0 5%;
                top: 100px;
                z-index: 2;

                @include responsive(tablet-size) {
                    position: sticky;
                    width: 435px;
                    height: 80px;
                    top: 20px;
                    padding-left: 35px;
                    padding-right: 0;
                }

                @include responsive(pc-size) {
                    width: 765px;
                    height: 100px;
                    padding-left: 140px;
                }

                h2.title-num {
                    letter-spacing: -0.1rem;
                    line-height: 50px;
                    text-align: left;
                    color: $color-intro;
                    transition: color 1s;

                    @include responsive(tablet-size) {
                        letter-spacing: -0.3rem;
                        line-height: 70px;
                        font-size: 4rem;
                    }

                    @include responsive(pc-size) {
                        line-height: 90px;
                        font-size: 6rem;
                    }

                    span.title {
                        font: {
                            family: $font-sans;
                            size: 2.9rem;
                        }

                        color: transparent;
                        -webkit-text-stroke: 2px $color-intro;
                        transition: -webkit-text-stroke-color 1s;
                        
                        @include responsive(tablet-size) {
                            font-size: 4.2rem;
                        }
    
                        @include responsive(pc-size) {
                            font-size: 6.3rem;
                        }
                    } // title
                } // title-num
            } // sticky-title

            div.contents {
                @include wrapper();

                padding-top: 50px;

                @include responsive(tablet-size) {
                    padding-top: 100px;
                    padding-bottom: 50px;
                }

                @include responsive(pc-size) {
                    padding-top: 200px;
                    padding-bottom: 200px;
                }
            }
        } // sections

        section#about {
            h3 {
                word-break: keep-all;
                color: $color-intro;

                @include responsive(tablet-size) {
                    font-size: 2.2rem;
                }
            }

            p {
                word-break: keep-all;
                color: $color-intro;
                
                @include responsive(tablet-size) {
                    margin-top: 0;
                    font-size: 1.3rem;
                    line-height: 2rem;
                }
            }

            span.highlight {
                font-weight: 600;
                text-decoration: underline $color-yellow 5px;
                text-underline-offset: -3px;
            }
        } // #about

        section#skills {
            div.skills-flexbox {
                @include wrapper();

                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                padding-top: 50px;

                @include responsive(tablet-size) {
                    padding-top: 100px;
                }

                @include responsive(pc-size) {
                    padding-top: 200px;
                }

                div.skill {
                    width: 50%;
                    
                    @include responsive(tablet-size) {
                        width: calc(100% / 3);
                    }
                    
                    @include responsive(pc-size) {
                        width: 20%;
                    }

                    div.img-box {
                        position: relative;

                        div.skill-img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        } // skill-img

                        svg {
                            transform: rotate(-90deg);
                            
                            circle {
                                fill: none;
                                stroke: $color-white;
                                stroke-miterlimit: 10;
                                stroke-width: 3px;
                                stroke-dasharray: $circle-length;
                                stroke-dashoffset: $circle-length;
                                stroke-linecap: round;
                                filter: drop-shadow(3px 3px 5px rgba(47, 46, 45, .1));
                                animation-timing-function: ease-in-out;
                                animation-duration: 1.5s;
                                animation-fill-mode: forwards;
                                
                                &.html5 {
                                    animation-name: circle-html5;

                                    @keyframes circle-html5 {
                                        to {
                                            stroke-dashoffset: strokeDashoffset($percent-html5);
                                        }
                                    }
                                } // html5

                                &.css3 {
                                    animation-name: circle-css3;

                                    @keyframes circle-css3 {
                                        to {
                                            stroke-dashoffset: strokeDashoffset($percent-css3);
                                        }
                                    }
                                } // css3

                                &.javascript {
                                    animation-name: circle-javascript;

                                    @keyframes circle-javascript {
                                        to {
                                            stroke-dashoffset: strokeDashoffset($percent-javascript);
                                        }
                                    }
                                } // javascript

                                &.sass {
                                    animation-name: circle-sass;

                                    @keyframes circle-sass {
                                        to {
                                            stroke-dashoffset: strokeDashoffset($percent-sass);
                                        }
                                    }
                                } // sass

                                &.react {
                                    animation-name: circle-react;

                                    @keyframes circle-react {
                                        to {
                                            stroke-dashoffset: strokeDashoffset($percent-react);
                                        }
                                    }
                                } // react

                                &.mysql {
                                    animation-name: circle-mysql;

                                    @keyframes circle-mysql {
                                        to {
                                            stroke-dashoffset: strokeDashoffset($percent-mysql);
                                        }
                                    }
                                } // mysql

                                &.git {
                                    animation-name: circle-git;

                                    @keyframes circle-git {
                                        to {
                                            stroke-dashoffset: strokeDashoffset($percent-git);
                                        }
                                    }
                                } // git

                                &.c {
                                    animation-name: circle-c;

                                    @keyframes circle-c {
                                        to {
                                            stroke-dashoffset: strokeDashoffset($percent-c);
                                        }
                                    }
                                } // c

                                &.java {
                                    animation-name: circle-java;

                                    @keyframes circle-java {
                                        to {
                                            stroke-dashoffset: strokeDashoffset($percent-java);
                                        }
                                    }
                                } // java

                                &.php {
                                    animation-name: circle-php;

                                    @keyframes circle-php {
                                        to {
                                            stroke-dashoffset: strokeDashoffset($percent-php);
                                        }
                                    }
                                } // php
                            } // circle
                        } // svg
                    } // img-box

                    h3 {
                        margin-bottom: 50px;
                        text-align: center;
                        font-weight: 300;
                        color: $color-intro;

                        @include responsive(tablet-size) {
                            font-size: 2rem;
                        }
                    }
                } // skill
            } // skills-flexbox
        } // #skills
        
        section#projects {
            padding-top: 100px;

            @include responsive(tablet-size) {
                padding-top: 180px;
            }

            div.projects-flexbox {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                padding-top: 0px;

                @include responsive(pc-size) {
                    padding-top: 50px;
                }
                
                div.projects {
                    width: 100%;

                    @include responsive(tablet-size) {
                        width: 70%;
                    }

                    @include responsive(pc-size) {
                        width: 75%;
                    }

                    div.project {
                        padding-top: 80px;

                        @include responsive(tablet-size) {
                            padding-top: 120px;
                        }

                        @include responsive(pc-size) {
                            padding-top: 150px;
                        }

                        div.preview {
                            width: 100%;
                            position: relative;

                            div.view-project {
                                width: 25%;
                                max-width: 170px;
                                position: absolute;
                                bottom: 10px;
                                right: 10px;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;

                                button {
                                    position: relative;
                                    width: calc((100% - 10px) / 2);
                                    max-width: 80px;
                                    border: none;
                                    background-color: $color-main;
                                    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.3), 3px 3px 5px rgba(0, 0, 0, 0.1);
                                    border-radius: 25%;
                                    cursor: pointer;

                                    &:hover {
                                        @include responsive(tablet-size) {
                                            span.tooltip {
                                                visibility: visible;
                                                opacity: 1;
                                                transform: translate3d(0, 0, 0);
                                            }
                                        }
                                    }

                                    &:active {
                                        box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
                                    }

                                    img {
                                        transform: scale(0.7);
                                    }

                                    span.tooltip {
                                        width: 110px;
                                        position: absolute;
                                        top: 130%;
                                        left: 50%;
                                        margin-left: calc(110px / 2 * -1);
                                        padding: 5px 0;
                                        border-radius: 5px;
                                        background-color: $color-main;
                                        color: $color-intro;
                                        text-align: center;
                                        visibility: hidden;
                                        opacity: 0;
                                        transform: translate3d(0, -10px, 0);
                                        transition: all .15s ease-in-out;

                                        font: {
                                            family: $font-sans;
                                            size: 1rem;
                                            weight: 600;
                                        }
            
                                        &::after {
                                            content:"";
                                            position: absolute;
                                            bottom: 100%;
                                            left: 50%;
                                            margin-left: -5px;
                                            border-color: transparent transparent $color-main transparent;
                                            border-style: solid;
                                            border-width: 5px;
                                        }
                                    } // tooltip
                                } // button
                            } // view-project
                        } // preview

                        div.modal {
                            width: 100%;
                            height: 100%;
                            margin: 0;
                            padding: 0;
                            position: fixed;
                            top: 100%;
                            left: 0;
                            background-color: rgba($color-white, 0.8);
                            text-align: left;
                            overflow: auto;
                            z-index: 2;
                            transition: all 0.6s ease-in-out;

                            @include responsive(pc-size) {
                                &::-webkit-scrollbar { // 스크롤바 전체 영역
                                    width: 17px; // 스크롤바의 너비
                                }
                            
                                &::-webkit-scrollbar-corner { // 상하+좌우 스크롤이 만나는 공간
                                    background-color: transparent;
                                }
                                
                                &::-webkit-scrollbar-thumb { // 스크롤 영역
                                    height: 30%; // 스크롤바의 길이
                                    background: $color-yellow; // 스크롤바의 색상
                                    background-clip: padding-box;
                                    border: 3px solid transparent;
                                    border-radius: 10px;
                                }
                                
                                &::-webkit-scrollbar-track { // 스크롤이 움직이는 바 영역
                                    background: $color-intro; // 스크롤바 뒷배경 색상
                                }
                            }

                            &.show {
                                top: 0;
                            }

                            div.modal-header {
                                position: relative;

                                button.close-btn {
                                    position: absolute;
                                    top: 20px;
                                    right: 20px;
                                    color: $color-main;
                                    font-size: 1.2rem;
                                    font-weight: 600;
                                    background-color: transparent;
                                    border: none;
                                    border-radius: 50%;
                                    cursor: pointer;
                                    transition: color 0.3s ease-in-out;
                                    
                                    i.fa-circle {
                                        filter: drop-shadow(3px 3px 5px rgba($color-black, 0.1));
                                    }

                                    i.fa-xmark {
                                        color: $color-intro;
                                    }

                                    @include responsive(tablet-size) {
                                        top: 30px;
                                        right: 30px;
                                        font-size: 1.4rem;
                                    }
    
                                    &:hover {
                                        color: $color-intro;

                                        i.fa-xmark {
                                            color: $color-main;
                                        }
                                    }
                                } // close-btn
                            } // modal-header

                            div.design-guide {
                                max-width: $break-pc;
                                margin: 0 auto;
                            } // design-guide

                            div.modal-footer {
                                position: relative;
                                
                                button.top-btn {
                                    position: absolute;
                                    bottom: 20px;
                                    right: 20px;
                                    color: $color-main;
                                    font-size: 1.2rem;
                                    font-weight: 600;
                                    background-color: transparent;
                                    border: none;
                                    border-radius: 50%;
                                    cursor: pointer;
                                    transition: color 0.3s ease-in-out;
                                    
                                    i.fa-circle {
                                        filter: drop-shadow(3px 3px 5px rgba($color-black, 0.1));
                                    }

                                    i.fa-angle-double-up {
                                        color: $color-intro;
                                    }

                                    @include responsive(tablet-size) {
                                        bottom: 30px;
                                        right: 30px;
                                        font-size: 1.4rem;
                                    }

                                    &:hover {
                                        color: $color-intro;

                                        i.fa-angle-double-up {
                                            color: $color-main;
                                        }
                                    }
                                } // top-btn
                            } // modal-footer
                        } // modal

                        h3 {
                            margin: 20px 0;
                            color: $color-main;

                            @include responsive(tablet-size) {
                                font-size: 2.2rem;
                            }
                        }

                        p {
                            font-weight: 300;
                            font-size: 1.1rem;
                            color: $color-main;
                            word-break: keep-all;

                            &.subtext {
                                font-weight: 100;
                                
                                @include responsive(tablet-size) {
                                    font-size: 1.2rem;
                                    line-height: 1.7rem;
                                }
                            }

                            @include responsive(tablet-size) {
                                font-size: 1.3rem;
                            }
                        }
                    } // project
                } // projects

                aside {
                    display: none;
                    width: 25%;
                    height: 565px;
                    position: sticky;
                    top: 0;

                    @include responsive(tablet-size) {
                        display: block;
                    }

                    @include responsive(pc-size) {
                        width: 20%;
                        height: 615px;
                    }

                    ul.projects-nav {
                        padding-top: 100px;

                        @include responsive(pc-size) {
                            padding-top: 150px;
                        }

                        li.nav-flexbox {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: flex-start;
                            padding: 20px 0;

                            &:last-child {
                                padding-bottom: 0;
                            }
    
                            button.navBtn {
                                width: 30px;
                                height: 30px;
                                margin-right: 15px;
                                display: flex;
                                border: 1px solid $color-main;
                                border-radius: 50%;
                                background-color: transparent;
                                cursor: pointer;

                                @include responsive(pc-size) {
                                    margin-right: 20px;
                                }
                                
                                &::before {
                                    content: "";
                                    width: 15px;
                                    height: 15px;
                                    margin: auto;
                                    border: none;
                                    border-radius: 50%;
                                    background-color: $color-main;
                                    filter: blur(3px);
                                    opacity: 0;
                                    transition: opacity 0.5s;
                                }
                                
                                &.active::before {
                                    opacity: 1;
                                }

                                &:hover::before {
                                    opacity: 1;
                                }
                            } // navBtn
    
                            h4 {
                                color: $color-main;
                            }
                        } // nav-flexbox
                    } // projects-nav
                } // aside
            } // projects-flexbox
        } // #projects

        section#contact {
            div.contents {
                padding-bottom: 100px;

                @include responsive(tablet-size) {
                    padding-bottom: 200px;
                }

                form {
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
    
                    @include responsive(tablet-size) {
                        width: 688px;
                    }
    
                    @include responsive(pc-size) {
                        width: 700px;
                    }
    
    
                    div.info {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
    
                        input {
                            width: 47%;
                            margin-bottom: 20px;
                            padding: 10px 20px;
                            background-color: transparent;
                            border: none;
                            border-bottom: 1px solid $color-main;
                            color: $color-main;
    
                            font: {
                                family: $font-sans;
                                size: 1rem;
                            }
    
                            @include responsive(tablet-size) {
                                width: 330px;
                            }
                        }
                    } // info
    
                    div.message {
                        width: 100%;
    
                        textarea {
                            width: 100%;
                            height: 300px;
                            margin-bottom: 20px;
                            padding: 10px 20px;
                            background-color: transparent;
                            backdrop-filter: blur(3px);
                            border: 1px solid $color-main;
                            color: $color-main;
                            resize: none;
    
                            font: {
                                family: $font-sans;
                                size: 1rem;
                            }
                        }
                    } // message
    
                    button {
                        position: relative;
                        padding: 10px 25px;
                        background-color: transparent;
                        border: 1px solid $color-main;
                        color: $color-main;
                        text-align: center;
                        align-self: flex-end;
                        cursor: pointer;
                        transition: all .5s ease-in-out;
    
                        font: {
                            family: $font-sans;
                            size: 1rem;
                        }

                        &:hover {
                            background-color: $color-main;
                            color: $color-intro;
                        }
                        
                        &:disabled {
                            cursor: not-allowed;

                            &:hover, &:active, &:focus {
                                background-color: transparent;
                                color: $color-main;
                                
                                span.tooltip {
                                    display: block;
                                }
                            }
                        }

                        span.tooltip {
                            display: none;
                            width: 160px;
                            position: absolute;
                            top: 12%;
                            right: 120%;
                            margin-left: calc(160px / 2 * -1);
                            padding: 5px 0;
                            border-radius: 5px;
                            background-color: $color-main;
                            color: $color-intro;
                            text-align: center;
                            font-weight: 600;

                            @include responsive(tablet-size) {
                                top: 150%;
                                left: 50%;
                            }

                            &::after {
                                content:"";
                                position: absolute;
                                top: 50%;
                                left: 100%;
                                margin-top: -5px;
                                border-color: transparent transparent transparent $color-main;
                                border-style: solid;
                                border-width: 5px;

                                @include responsive(tablet-size) {
                                    bottom: 100%;
                                    left: 50%;
                                    margin-top: -20%;
                                    margin-left: -5px;
                                    border-color: transparent transparent $color-main transparent;
                                }
                            }
                        } // tooltip
                    } // button

                    div.status-modal {
                        width: 330px;
                        height: 200px;
                        position: absolute;
                        overflow: hidden;
                        display: none;
                        text-align: center;
                        background-color: $color-white;
                        border-radius: 4px; 
                        box-shadow: 0 3px 15px -1px rgba($color-black, 0.4);
                        z-index: 3;

                        @include responsive(tablet-size) {
                            width: 380px;
                            height: 230px;
                        }

                        &.active {
                            display: block;
                            animation: appear 0.8s ease-in-out;

                            @keyframes appear {
                                from {
                                    opacity: 0;
                                    transform: translateY(20px);
                                }
                                to {
                                    opacity: 1;
                                    transform: translateY(0);
                                }
                            }
                        }

                        h3 {
                            margin: 20px 0;
                            letter-spacing: 1px;
                            opacity: 0.3;

                            font: {
                                size: 1.5rem;
                                weight: 600;
                            }

                            i {
                                margin-left: 2px;
                            }

                            @include responsive(tablet-size) {
                                margin: 25px 0;
                                font-size: 1.8rem;
                            }
                        }

                        div.try-again, div.okay {
                            width: 100%;
                            height: 60px;
                            position: absolute;
                            bottom: 0;
                            color: $color-white;
                            text-align: center;
                            line-height: 60px;
                            font-size: 1.3rem;
                            cursor: pointer;
                        }

                        div.try-again {
                            background-color: #e74c3c;

                            &:hover {
                                background-color: #ed4f3e;
                            }
                        }

                        div.okay {
                            background-color: #2ecc71;

                            &:hover {
                                background-color: #30d275;
                            }
                        }
                    } // status-modal
                } // form
            } // contents
        } // #contact
    } // main

    // footer
    footer {
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: $color-black;
        
        @include responsive(tablet-size) {
            flex-direction: row;
            padding: 10px 30px;

            div.logo {
                width: 20vw;
                padding: 10px;
                display: flex;
                align-items: center;
    
                svg {
                    width: 130px;
                    height: 40px;
                    stroke: $color-main;
                    stroke-width: 2;
                    stroke-miterlimit: 10;
    
                    circle {
                        fill: none;
                    }
                }
            }
        } // responsive(tablet-size)

        p {
            margin: 0;
            color: $color-main;

            @include responsive(tablet-size) {
                font-size: 1.1rem;
            }
        }

        div.icons-flexbox {
            width: 205px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            @include responsive(tablet-size) {
                width: 20vw;
                justify-content: flex-end;
            }

            button {
                width: 35px;
                height: 35px;
                margin: 20px 10px;
                background-color: transparent;
                border: none;
                cursor: pointer;

                @include responsive(tablet-size) {
                    margin: 10px;
                }

                svg {
                    width: 100%;
                    
                    path.footer-btn {
                        fill: transparent;
                        stroke: $color-main;
                        stroke-width: 15;
                        stroke-miterlimit: 10;
                        transition: all 0.5s ease-in-out;
                    }
                }

                &:hover {
                    path.footer-btn {
                        fill: $color-main;
                        stroke: transparent;
                    }
                }
            } // button
        } // icons-flexbox
    } // footer
} // body