@import "./_style.scss";
@import "./_common.scss";
@import "./_mixin.scss";

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    background-color: $color-main;

    // 스크롤바 스타일
    &::-webkit-scrollbar { // 스크롤바 전체 영역
        width: 10px; // 스크롤바의 너비
    }

    &::-webkit-scrollbar-corner { // 상하+좌우 스크롤이 만나는 공간
        background-color: transparent;
    }
    
    &::-webkit-scrollbar-thumb { // 스크롤 영역
        height: 30%; // 스크롤바의 길이
        background: $color-yellow; // 스크롤바의 색상
        background-clip: padding-box;
        border: 2px solid transparent;
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-track { // 스크롤이 움직이는 바 영역
        background: transparent; // 스크롤바 뒷배경 색상
    }

    div.dotted-border {
        @include dotted-border();
    }

    // header
    header {
        position: fixed;
        width: calc(100% - 40px);
        height: 60px;
        margin: 20px;
        border: 1px solid $color-grey;
        backdrop-filter: blur(3px);
        // backdrop-filter: contrast(.5);
        // backdrop-filter: grayscale(.9);
        // backdrop-filter: hue-rotate(90deg);
        // backdrop-filter: saturate(.1);
        // backdrop-filter: sepia(.9);
        z-index: 1;
        
        @include responsive(tablet-size) {
            height: 80px;
            padding: 10px 30px;
        }
        
        @include responsive(pc-size) {
            width: calc(100% - 250px);
            height: 100px;
            margin: 20px 125px;
        }

        h1 {
            display: none;
            position: fixed;
            top: -10px;
            left: 10px;
            height: 60px;
            letter-spacing: -0.2rem;
            color: transparent;
            -webkit-text-stroke: 1px $color-grey;

            @include responsive(tablet-size) {
                display: block;
            }

            @include responsive(pc-size) {
                font-size: 6.3rem;
            }
        }

        // header > nav
        div#nav {
            display: none;
            height: 100%;
            
            @include responsive(tablet-size) {
                display: block;
            }
            
            nav {
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;

                ul.gnb {
                    width: 55%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    @include responsive(pc-size) {
                        width: 40%;
                    }

                    li {
                        opacity: .4;
                        transition: all 0.4s ease;

                        &:hover {
                            opacity: .7;
                        }

                        &.active {
                            opacity: 1;
                        }

                        a {
                            font: {
                                size: 0.9rem;
                                weight: 600;
                            }
                            
                            text-transform: uppercase;
                            color: $color-intro;

                            @include responsive(pc-size) {
                                font-size: 1rem;
                            }
                        }
                    }
                } // gnb

                .line {
                    height: 2px;
                    position: absolute;
                    bottom: 25px;
                    background: $color-yellow;

                    @include responsive(pc-size) {
                        bottom: 35px;
                    }
                }
            } // gnb-pc
        } // nav

        // header > nav-mobile
        div.nav-mobile {
            @include responsive(tablet-size) {
                display: none;
            }

            $duration: .45s;
            $duration-icon: 1s;
            $cubic: cubic-bezier(0.4, 0, 0.2, 1);

            nav.gnb-mobile {
                width: 100%;
                height: 60px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                -webkit-tap-highlight-color: transparent;

                button.nav-btn {
                    height: 20px;
                    position: relative;
                    overflow: hidden;
                    display: flex;
                    flex-grow: 1;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                    transition: flex-grow $duration $cubic;
                    color: $color-grey;
                
                    font: {
                        family: $font-sans;
                        size: 0.8rem;
                    }
                
                    &.active {
                        flex-grow: 2.5;
                        color: $color-intro;
                    
                        & div.nav-num {                    
                            & span.num {
                                animation: blank $duration-icon forwards;
                                animation-duration: $duration;

                                @keyframes blank {
                                    to {
                                        opacity: 0;
                                    }
                                }
                            }
                        }
                    } // nav-btn active
                
                    div.nav-num {
                        transition: transform $duration $cubic;
                        font-size: 1rem;
                    } // nav-num
                
                    strong.nav-title {
                        position: absolute;
                        font-size: 1rem;
                        transform: translate3d(0, 110%, 0);
                        transition: transform calc(.65s / 3.7);
                    
                        &.active {
                            transform: translate3d(0, 0, 0);
                            transition: transform calc(.65s / 1.5);
                        }
                    } // nav-title
                } // nav-btn
            } // gnb-mobile
        } // nav-mobile
    }

    // main
    main {
        section#about, section#skills, section#projects, section#contact {
            // height: 1200px;
            padding-top: 180px;

            div.sticky-title {
                height: 60px;
                padding: 0 5%;
                position: sticky;
                top: 100px;
                z-index: 2;

                @include responsive(tablet-size) {
                    width: 435px;
                    height: 80px;
                    top: 20px;
                    padding-left: 35px;
                    padding-right: 0;
                }

                @include responsive(pc-size) {
                    width: 765px;
                    height: 100px;
                    padding-left: 140px;
                }

                h2 {
                    letter-spacing: -0.1rem;
                    line-height: 50px;
                    text-align: left;

                    @include responsive(tablet-size) {
                        letter-spacing: -0.3rem;
                        line-height: 70px;
                        font-size: 4rem;
                    }

                    @include responsive(pc-size) {
                        line-height: 90px;
                        font-size: 6rem;
                    }

                    span {
                        font-family: $font-sans;
                        color: transparent;
                        -webkit-text-stroke: 2px $color-intro;

                        @include responsive(tablet-size) {
                            font-size: 4.2rem;
                        }
    
                        @include responsive(pc-size) {
                            font-size: 6.3rem;
                        }
                    }
                }
            } // sticky-title

            div.contents {
                @include wrapper();

                padding-top: 200px;
                padding-bottom: 200px;

                @include responsive(tablet-size) {
                    padding-top: 200px;
                    padding-bottom: 200px;
                }

                @include responsive(pc-size) {
                    padding-top: 200px;
                    padding-bottom: 200px;
                }
            }
        } // sections

        section#about {
            h3 {
                @include responsive(tablet-size) {
                    font-size: 2.2rem;
                }
            }

            p {
                @include responsive(tablet-size) {
                    font-size: 1.3rem;
                }
            }
        } // #about

        section#skills {
            div.skills-flexbox {
                @include wrapper();

                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                padding-top: 200px;

                @include responsive(tablet-size) {
                    padding-top: 200px;
                }

                @include responsive(pc-size) {
                    padding-top: 200px;
                }

                div.skill {
                    width: 50%;
                    
                    @include responsive(tablet-size) {
                        width: calc(100% / 3);
                    }
                    
                    @include responsive(pc-size) {
                        width: 20%;
                    }
                    div.img-box {
                        position: relative;

                        div.skill-img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
    
                            // &.html5, &.css3 {
                            //     width: 85px;
                            // }
    
                            // &.javascript, &.c, &.java, &.git {
                            //     width: 90px;
                            // }
    
                            // &.sass, &.react, &.mysql, &.php {
                            //     width: 100px;
                            // }
                        } // skill-img

                        svg {
                            circle {
                                fill: none;
                                stroke: $color-white;
                                stroke-miterlimit: 10;
                                stroke-width: 3px;
                            }
                        }
                    } // img-box

                    h3 {
                        text-align: center;
                    }
                } // skill
            } // skills-flexbox
        } // #skills
        
        section#projects {
            div.projects-flexbox {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                
                div.projects {
                    width: 100%;

                    @include responsive(tablet-size) {
                        width: 70%;
                    }

                    div.project {
                        padding-top: 100px;
        
                        &:first-child {
                            padding-top: 0;
                        }
        
                        div.preview {
                            width: 100%;
        
                            @include responsive(pc-size) {
                                // width: 70%;
                            }
                        }

                        h3 {
                            @include responsive(tablet-size) {
                                font-size: 2.2rem;
                            }
                        }

                        p {
                            @include responsive(tablet-size) {
                                font-size: 1.3rem;
                            }
                        }
                    } // project
                } // projects

                aside {
                    display: none;
                    width: 25%;
                    height: 305px;
                    position: sticky;
                    top: 150px;

                    @include responsive(tablet-size) {
                        display: block;
                    }
                } // aside
            } // projects-flexbox
        } // #projects

        section#contact {
            form {
                margin: 0 auto;
            }
        } // #contact
    }

    // footer
    footer {
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: $color-black;
        
        @include responsive(tablet-size) {
            flex-direction: row;
            padding: 10px 30px;

            div.logo {
                width: 20vw;
                padding: 10px;
                display: flex;
                align-items: center;
    
                svg {
                    width: 130px;
                    height: 40px;
                    stroke: $color-main;
                    stroke-width: 2;
                    stroke-miterlimit: 10;
    
                    circle {
                        fill: none;
                    }
                }
            }
        } // responsive(tablet-size)

        p {
            color: $color-main;

            @include responsive(tablet-size) {
                font-size: 1.1rem;
            }
        }

        div.icons-flexbox {
            width: 205px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            @include responsive(tablet-size) {
                width: 20vw;
                justify-content: flex-end;
            }

            button {
                width: 25px;
                height: 25px;
                margin: 20px;
                background-color: transparent;
                border: none;
                cursor: pointer;

                @include responsive(tablet-size) {
                    width: 35px;
                    height: 35px;
                    margin: 10px;
                }

                img {
                    width: 100%;
                    text-align: center;
                }
            } // button
        } // icons-flexbox
    } // footer
} // body